@import '../../styles/mixin.scss';

.exsied {
	--exd-toolbar-backgroud-color: rgb(245, 245, 245);
	--exd-toolbar-text-color: rgb(44, 44, 44);

	--exd-toolbar-ctrl-backgroud-color: unset;
	--exd-toolbar-ctrl-backgroud-color-active: rgb(145, 196, 255);
	--exd-toolbar-ctrl-backgroud-color-hover: rgb(228, 228, 228);
	--exd-toolbar-ctrl-margin: 1px 2px;
	--exd-toolbar-ctrl-height: 30px;

	--exd-toolbar-bubble-backgroud-color: rgb(68, 68, 68);
}

.dark {
	.exsied {
		--exd-toolbar-backgroud-color: rgb(34, 38, 40);
		--exd-toolbar-text-color: rgb(171, 175, 178);

		--exd-toolbar-ctrl-backgroud-color: unset;
		--exd-toolbar-ctrl-backgroud-color-active: rgb(92, 133, 179);
		--exd-toolbar-ctrl-backgroud-color-hover: rgb(70, 70, 70);
		--exd-toolbar-ctrl-margin: 1px 2px;
		--exd-toolbar-ctrl-height: 30px;

		--exd-toolbar-bubble-backgroud-color: rgb(153, 153, 153);
	}
}

.exsied-toolbar {
	&.exsied-toolbar-main {
		overflow: scroll;
		position: sticky;
		top: 0;
		background-color: var(--exd-toolbar-backgroud-color);
		color: var(--exd-toolbar-text-color);
		border-bottom: 1px solid var(--exd-border-color);
		padding: 0.1rem;
	}

	> * {
		display: flex;
	}

	button {
		outline: 0;
		appearance: none;
		border: none;
		height: 30px;
		min-width: 30px;
		position: relative;
	}

	.exsied-ctrl,
	.exsied-dropdown .exsied-trigger {
		cursor: pointer;
		background-color: var(--exd-toolbar-ctrl-backgroud-color);
		margin: var(--exd-toolbar-ctrl-margin);
		height: var(--exd-toolbar-ctrl-height);
		min-width: 30px;
		white-space: nowrap;
	}

	.exsied-ctrl {
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--exd-toolbar-text-color);

		&.exsied-active {
			background-color: var(--exd-toolbar-ctrl-backgroud-color-active);
		}

		&:hover {
			background-color: var(--exd-toolbar-ctrl-backgroud-color-hover);
		}
	}
}

#exsied-toolbar-bubble-wrap {
	position: absolute;
	display: none;
	box-sizing: border-box;
	transform: translateY(10px);
	background-color: var(--exd-toolbar-bubble-backgroud-color);
	border-radius: 1.5rem;

	.exsied-toolbar-bubble-arrow {
		border-bottom: 6px solid var(--exd-toolbar-bubble-backgroud-color);
		top: -6px;

		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		content: ' ';
		display: block;
		left: 50%;
		margin-left: -6px;
		position: absolute;
	}

	.exsied-toolbar-bubble {
		display: flex;
		background-color: var(--exd-toolbar-bubble-backgroud-color);
		border-radius: 12px;

		.exsied-endpoint {
			&:first-child {
				margin-inline-start: 12px;
			}

			&:last-child {
				margin-inline-end: 12px;
			}
		}

		.exsied-btns {
			display: flex;

			button {
				background: none;
				border: none;
				cursor: pointer;
				display: inline-block;

				filter: invert(0.8);
			}
		}

		.exsied-dropdown-list.exsied-dropdown-list-show {
			top: 32px;
		}
	}
}
