:root {
	--exd-backgroud-color: #fff;
	--exd-text-color: #000;
	--exd-component-backgroud-color: #efefef;
	--exd-component-color: #333;
	--exd-component-border-color: #ccc;
	--exd-highlight-color: rgb(104, 211, 175);
}

.dark {
	--exd-backgroud-color: #32393f;
	--exd-text-color: #d1d4d9;
	--exd-component-backgroud-color: #212528;
	--exd-component-color: #d1d4d9;
	--exd-component-border-color: #1f2930;
	--exd-highlight-color: rgb(59, 138, 112);

	.exsied-icon {
		filter: invert(0.9);
	}
}

.exsied {
	background-color: var(--exd-backgroud-color);
	color: var(--exd-text-color);
	font-size: 1rem;
	border: 1px solid #666;

	.exsied-workplace {
		background-color: var(--exd-backgroud-color);
		padding: 0.5rem;
		min-height: 10rem;

		&:focus {
			outline: none;
		}

		.exsied-temp-ele-highlight {
			background-color: var(--exd-highlight-color);
		}
	}
}
