@import './icons.scss';

:root {
	--exd-backgroud-color: rgb(255, 255, 255);
	--exd-text-color: rgb(0, 0, 0);
	--exd-border-color: rgb(204, 204, 204);
	--exd-component-backgroud-color: rgb(239, 239, 239);
	--exd-component-color: rgb(51, 51, 51);
	--exd-component-border-color: rgb(204, 204, 204);
	--exd-highlight-color: rgb(104, 211, 175);
}

.dark {
	--exd-backgroud-color: rgb(50, 57, 63);
	--exd-text-color: rgb(209, 212, 217);
	--exd-border-color: rgb(34, 40, 40);
	--exd-component-backgroud-color: rgb(33, 37, 40);
	--exd-component-color: rgb(209, 212, 217);
	--exd-component-border-color: rgb(31, 41, 48);
	--exd-highlight-color: rgb(59, 138, 112);

	.exsied-icon {
		filter: invert(0.9);
	}
}

.exsied {
	background-color: var(--exd-backgroud-color);
	color: var(--exd-text-color);
	font-size: 1rem;
	border: 1px solid #666;

	.exsied-workplace {
		background-color: var(--exd-backgroud-color);
		padding: 0.5rem;
		min-height: 10rem;

		&:focus {
			outline: none;
		}

		.exsied-temp-ele-highlight {
			background-color: var(--exd-highlight-color);
		}
	}
}

.exsied-ele {
	box-sizing: border-box;
}
