@import '../../styles/mixin.scss';

:root {
	--popup-z-index: 10;
	--popup-box-shadow-color: #0000004d;
	--popup-input-backgroud-color: #fff;
	--popup-input-color: #050505;
}

.exsied-popup-view {
	z-index: var(--popup-z-index);
	box-shadow: 0 5px 10px var(--popup-box-shadow-color);
	background-color: var(--exd-component-backgroud-color);
	color: var(--exd-component-color);
	border-radius: 0.5rem;
	padding: 0.5rem 0.75rem;
	overflow: scroll;

	.exsied-popup-titlebar {
		display: flex;
		border-bottom: 1px solid #666;
		padding-bottom: 0.25rem;
		margin-bottom: 0.25rem;

		.exsied-popup-titlebar-content {
			flex-grow: 1;
		}
		.exsied-popup-titlebar-actions {
			i.close-btn::after {
				@include bkgSvgIcon;
				background-image: url(./close.svg);

				cursor: pointer;
			}
		}
	}

	.exsied-popup-content {
		position: relative;

		input {
			background-color: var(--popup-input-backgroud-color);
			border: 1px solid var(--exd-component-border-color);
			display: block;
			width: 100%;
			box-sizing: border-box;
			padding: 0.5rem;
			border-radius: 0.5rem;
			outline: 0;
			position: relative;
			font-family: inherit;
		}
	}

	.exsied-popup-actions {
		padding-top: 0.5rem;
		display: flex;

		button {
			margin-inline: 0.25rem;
		}
	}
}
