@import '../../styles/mixin.scss';

.exsied-dropdown {
	display: inline-block;
	position: relative;

	.exsied-dropdown-trigger {
		color: var(--exd-text-color);

		&::after {
			@include bkgSvgIcon;
			background-image: url(./icons/arrow-down.svg);

			padding-inline-start: 0.5rem;
		}
	}

	.exsied-dropdown-list {
		display: none;
		position: absolute;
		left: 0;
		white-space: nowrap;
		background-color: var(--exd-component-backgroud-color);
		color: var(--exd-component-color);
		border: 1px solid var(--exd-component-border-color);

		&.exsied-dropdown-list-show {
			display: unset;
		}

		.exsied-dropdown-list-item {
			display: flex;
			padding: 0.5rem;
			cursor: pointer;

			.icon {
				padding-inline-end: 0.5rem;
			}
		}
	}
}
